* {
    margin: 0;
    box-sizing: border-box;
}

:root {
/* Primary Colors*/
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/* Neutral Colors */
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

body {
    background-image: url("../img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;/*????*/
    background-color: var(--Pale-blue);
    width: 1440px;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.container {
    background-color: white;
    width: 30vw;
    /*height: 75vh;*/
    min-width: 400px; 
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .hero img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.container .view-limit {
    padding: 3rem;
}

h1.title {
    color: var(--Dark-blue);
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.view-limit p {
    color: var(--Desaturated-blue);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.annual-plan {
    width: 100%;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.annual-plan div :first-child {
    color: var(--Dark-blue);
    font-weight: 900;
}

.annual-plan div {
    color: var(--Desaturated-blue);
}

.annual-plan > a {
    padding-left: 3rem;
    font-weight: 700;
    font-size: .9rem;
}

.button {
    background-color: var(--Bright-blue);
    color: whitesmoke;
    box-shadow: 0 15px 20px 1px rgba(56, 41, 224, 0.2) ;
    font-size: .85rem;
    font-weight: 700;
    width: 100%;
    padding: .85rem;
    border: none;    
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.view-limit > span {
    font-size: .85rem;
    font-weight: 700;
    color: var(--Desaturated-blue);/*rgb(102, 101, 101)*/
    margin-bottom: 3rem; 
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
.attribution {
    font-size: 11px;
    text-align: center;
  }
  
.attribution a {
    color: hsl(228, 45%, 44%);
}

